# output files from the example
sequencesynopsis/+seqsynopsis_msp.json
sequencesynopsis/sequence_synopsis_outfile.json

# IDEs and editors

*checkpoints

# input files
*.csv
Endomodo.lnk/

# System Files
.DS_Store

#python files
__pycache__
*.pyc

# configuration Files
.pylintrc
