sententree/sentence-tree*
sententree/sentence-tree+sententree_msp
coreflow/coreflow_graph.json
coreflow/coreflow_result.json
output_minsupport/
sequencesynopsis/runEvent.sh
sequencesynopsis/runText.sh
# output files from the example
sequencesynopsis/sequence_synopsis_pattern2sequence*
sequencesynopsis/sequence_synopsis_outfile_*
sequencesynopsis/differentRuns/
sequencesynopsis/+seqsynopsis_msp.json
sequencesynopsis/sequence_synopsis_outfile.json
sequencesynopsis/sequence_synopsis_outfile.csv
# IDEs and editors

*checkpoints

# input files
.gitignore.swp
Sample_Dataset.csv
process_mining.csv
Endomodo.lnk/

# System Files
.DS_Store

#python files
__pycache__
*.pyc

# configuration Files
.pylintrc
